.categroysNav{
    width:100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.59rem 0;
    ul{
        overflow: hidden;
        li{
            float: left;
            // padding: 0 0.9rem;
            width:68px;
            text-align: center;
        }
        li span{
            color:#999;
            font-size:12px;
            display: inline-block;
            padding: .1rem .2rem;
        }
        li.active span{
            background-color: #00a2ff;
            border-radius: 0.13rem;
            color: #fff;
            font-weight: bold;
        }
    }
    .am-tabs-default-bar-tab,.am-tabs-default-bar-underline{
        // width: 20% !important;;
    }
}